@model IEnumerable<Parkingup2you.Models.Device>

@{
    ViewBag.Title = "Index";
}

<h2>Device Status</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ช่องที่จอดรถ")
        </th>
        <th>
            @Html.DisplayName("สถานะอุปกรณ์")
        </th>
        <th>
            @Html.DisplayName("ระยะทาง")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Block)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDevice }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Details", "Details", new { id=item.idDevice }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.idDevice }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
